@charset "UTF-8";
/* Fontes */
/* Tamanhos de Fontes */
/* Outros Elementos */
/* Botões */
/* Cores */
/* Reset CSS */
*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin-block-end: 0;
}

ul[role=list], ol[role=list] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img, picture {
  max-width: 100%;
  display: block;
}

/* Estilização Global */
body {
  width: 100%;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}

.container-grid {
  display: grid;
  grid-template-columns: 11.5vw 77vw 11.5vw;
  grid-template-rows: 5.6vw 41.7vw 93vw 27vw;
  grid-template-areas: ". header margem-direita" "main main main" ". footer .";
  container-name: container-grid;
  container-type: inline-size;
}

.header {
  grid-area: header;
  z-index: 3;
}

.margem-direita {
  grid-area: margem-direita;
  background-color: #fafafa;
  z-index: 2;
}

.main {
  grid-area: main;
  position: relative;
}

/* Imagens decorativas da versão desktop */
.imagens {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
}
.imagens__bg-right {
  position: absolute;
  top: -100%;
  right: 0;
}
.imagens__bg-left {
  position: absolute;
  top: -30%;
  left: 0;
}

.footer {
  grid-area: footer;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
}
.nav__logo {
  width: clamp(7rem, 7.7vw, 15.4vw);
}
.nav__menu {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.nav__li {
  text-transform: uppercase;
  font-size: clamp(0.44rem, 0.88vw, 1.77vw);
  font-weight: 700;
  letter-spacing: 0.075rem;
  word-spacing: 0.075rem;
  align-self: center;
  color: #837d87;
  padding-right: 2rem;
  transition: color 0.3s ease-in-out;
}
.nav__li:hover {
  color: #2b272f;
}
.nav__button {
  text-transform: uppercase;
  font-size: clamp(0.8rem, 0.88vw, 1.77vw);
  font-weight: 600;
  letter-spacing: 0.15rem;
  word-spacing: 0.15rem;
  padding: clamp(0.5rem, 0.66vw, 1.33vw) clamp(1.2rem, 1.94vw, 3.88vw);
  border: 2px solid #2b272f;
  color: #2b272f;
  background-color: #fafafa;
  transition: all 0.3s ease-in-out;
}
.nav__button:hover {
  border: 2px solid #2d2640;
  color: #fafafa;
  background-color: #2d2640;
}
.nav__hamburguer {
  display: none;
}

.section-1 {
  height: 41.7vw;
  padding: 0 11.5vw;
  background-color: #2d2640;
}
.section-1__textos {
  padding-top: 6.5rem;
  width: 35vw;
}
.section-1__moldura {
  height: 1px;
  width: 10vw;
  background-color: #C2C1C6;
  margin-bottom: -1vw;
}
.section-1__titulo {
  font-family: "DM Serif Display", serif;
  font-size: clamp(3rem, 5vw, 10vw);
  font-weight: 400;
  color: #fafafa;
  line-height: 1;
}
.section-1__paragrafo {
  font-size: clamp(1rem, 1.1vw, 2.2vw);
  font-weight: 400;
  color: #fafafa;
  padding-bottom: 2.3rem;
}
.section-1__button {
  text-transform: uppercase;
  font-size: clamp(0.8rem, 0.88vw, 1.77vw);
  font-weight: 600;
  letter-spacing: 0.15rem;
  word-spacing: 0.15rem;
  padding: clamp(0.5rem, 0.66vw, 1.33vw) clamp(1.2rem, 1.94vw, 3.88vw);
  border: 2px solid #fafafa;
  color: #fafafa;
  background-color: #2d2640;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin-bottom: 8.88vw;
  z-index: 2;
}
.section-1__button:hover {
  background-color: #fafafa;
  color: #2d2640;
}
.section-1__imagem--intro {
  position: relative;
  height: 45.14vw;
  top: -36vw;
  left: 39.61vw;
}
.section-1__imagem--intro-mobile {
  display: none;
}

.section-2 {
  display: grid;
  grid-template-columns: 11.5vw 25.66vw 25.66vw 25.66vw 11.5vw;
  grid-template-rows: 21.18vw 6.6vw 9vw 19.09vw 9.3vw 17.22vw 10.7vw;
  grid-template-areas: ". . . . ." ". titulo titulo titulo ." ". . . . . " ". div-1 div-2 div-3 ." ". . . . . " ". box box box ." ". . . . . ";
}
.section-2__intro {
  grid-area: titulo;
}
.section-2__div-1 {
  grid-area: div-1;
}
.section-2__div-2 {
  grid-area: div-2;
}
.section-2__div-3 {
  grid-area: div-3;
}
.section-2__div {
  padding-right: 1.5rem;
}
.section-2__box {
  grid-area: box;
  background-color: #2d2640;
}
.section-2__moldura {
  border-top: 3px solid #C2C1C6;
  width: 10vw;
}
.section-2__titulo {
  font-family: "DM Serif Display", serif;
  font-size: clamp(3rem, 5vw, 10vw);
  font-weight: 400;
  color: #2b272f;
  line-height: 1;
}
.section-2__paragrafo {
  font-size: clamp(1rem, 1.1vw, 2.2vw);
  font-weight: 400;
  color: rgba(45, 38, 64, 0.6705882353);
}
.section-2__subtitulo {
  font-size: clamp(2rem, 2vw, 4vw);
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  color: #2b272f;
}
.section-2__box {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 1.5rem;
}
.section-2__subtitulo--h2 {
  font-size: clamp(2.4rem, 3.33vw, 6.66vw);
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  color: #fafafa;
  line-height: 1;
  margin-top: -1rem;
}
.section-2__bg-box {
  position: absolute;
  height: 100%;
  right: 0;
}
.section-2__button {
  text-transform: uppercase;
  font-size: clamp(0.8rem, 0.88vw, 1.77vw);
  font-weight: 600;
  letter-spacing: 0.15rem;
  word-spacing: 0.15rem;
  padding: clamp(0.5rem, 0.66vw, 1.33vw) clamp(1.2rem, 1.94vw, 3.88vw);
  border: 2px solid #fafafa;
  color: #fafafa;
  background-color: #2d2640;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}
.section-2__button:hover {
  border: 2px solid #2d2640;
  color: #2d2640;
  background-color: #fafafa;
}

.footer {
  position: relative;
  display: grid;
  grid-template-columns: 11.5vw 11.68vw 7.57vw 11.68vw 7.57vw 11.68vw 7.57vw 11.68vw 7.57vw 11.5vw;
  grid-template-rows: 7.91vw 19.09vw;
  background-color: #f5f4f4;
  background-image: url(images/bg-pattern-footer-desktop.svg);
  background-position: top left;
  background-repeat: no-repeat;
  grid-template-areas: ". social social social social social social social social ." ". div-1 . div-2 . div-3 . div-4 . .";
}
.footer__social {
  grid-area: social;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #C2C1C6;
  width: 80vw;
}
.footer__social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 14vw;
}
.footer__logo {
  margin-bottom: 2rem;
  width: clamp(7rem, 7.7vw, 15.4vw);
}
.footer__icone {
  fill: #837d87;
  transition: all 0.3s ease-in-out;
}
.footer__icone:hover, .footer__icone:focus {
  fill: #2b272f;
}
.footer__div-1 {
  grid-area: div-1;
}
.footer__div-2 {
  grid-area: div-2;
}
.footer__div-3 {
  grid-area: div-3;
}
.footer__div-4 {
  grid-area: div-4;
}
.footer__div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  margin-left: 0;
  padding-left: 0;
}
.footer__subtitle--h4 {
  font-size: clamp(0.9rem, 1vw, 2vw);
  color: #837d87;
  text-transform: uppercase;
  text-align: left;
  padding: 1.5rem 0;
}
.footer__span {
  text-transform: uppercase;
  font-size: clamp(0.9rem, 1vw, 2vw);
  font-weight: 700;
  color: #2d2640;
  padding: 0rem 0rem 0.5rem 0rem;
}
.footer__bg {
  position: absolute;
  top: 0;
  right: 50;
  opacity: 50%;
}

@media only screen and (max-width: 950px) {
  .container-grid {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 4.5rem 1014.09vw;
    grid-template-areas: "header" "main";
  }
  .header {
    grid-area: header;
    z-index: 3;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 1rem 0rem 1rem;
    /* Menu Off Screen */
    /* Menu Hamburguer */
  }
  .nav__menu {
    position: fixed;
    right: -100vw;
    top: 3.5rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    padding-top: 2rem;
    background-color: #2b272f;
    transition: all 0.3s ease-in-out;
    background-image: url(images/bg-pattern-mobile-nav.svg);
    background-repeat: no-repeat;
    background-position: 50% 100%;
  }
  .nav__menu.active {
    right: 0;
  }
  .nav__li {
    font-size: 1.25rem;
    padding: 1.75rem 0rem 1.75rem 0rem;
    width: 75vw;
    color: #fafafa;
    padding-right: 0rem;
  }
  .nav__li:hover, .nav__li:focus {
    background-color: #837d87;
  }
  .nav__li:last-child:hover {
    background-color: #2b272f;
  }
  .nav__button {
    font-size: 1.25rem;
    font-weight: 500;
    width: 75vw;
    border: 2px solid #fafafa;
    color: #fafafa;
    background-color: #2b272f;
    transition: all 0.3s ease-in-out;
  }
  .nav__button:hover {
    border: 2px solid #2d2640;
    color: #2d2640;
    background-color: #fafafa;
  }
  .nav__hamburguer {
    display: block;
    border: 2px solid black;
    padding: 2px 5px;
    cursor: pointer;
  }
  .nav__hamburguer--bar {
    display: block;
    width: 17px;
    height: 2px;
    background-color: #2b272f;
    margin: 4px auto;
    transition: all 0.3s ease-in-out;
  }
  .nav__hamburguer.active .bar:nth-child(2) {
    opacity: 0;
  }
  .nav__hamburguer.active .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }
  .nav__hamburguer.active .bar:nth-child(3) {
    transform: translateY(-6px) rotate(135deg);
  }
  .margem-direita {
    display: none;
  }
  .main {
    grid-area: main;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 120.53vw 133.6vw 481.04vw 278.92vw;
    grid-template-areas: "mobile-imagem" "mobile-textos" "section-2" "footer";
  }
  .main__imagens {
    display: none;
  }
  .section-1 {
    display: contents;
    /* Main | Seção 1 - Foto Desktop */
    /* Main | Seção 1 - Foto Mobile - Grid-area Mobile-imagem */
    /* Main | Seção 1 - Título e Parágrafo - Grid-area Mobile-textos*/
  }
  .section-1__imagem--intro {
    display: none;
  }
  .section-1__imagem--intro-mobile {
    display: block;
    grid-area: mobile-imagem;
    width: 100vw;
  }
  .section-1__textos {
    grid-area: mobile-textos;
    width: 100vw;
    height: 133.6vw;
    background-color: #2d2640;
    padding: 0rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .section-1__moldura {
    display: none;
  }
  .section-2 {
    display: grid;
    grid-area: section-2;
    grid-template-columns: 100vw;
    grid-template-rows: 84vw 81.86vw 81.86vw 81.86vw 151.46vw;
    grid-template-areas: "titulo" "div-1" "div-2" "div-3" "box";
    /* Main | Seção 2 - Moldura e Título */
    /* Main | Seção 2 - Div 1 */
    /* Main | Seção 2 - Div 2 */
    /* Main | Seção 2 - Div 3 */
    /* Main | Seção 2 - Box */
  }
  .section-2__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: titulo;
    text-align: center;
    padding: 2rem;
    height: 84vw;
  }
  .section-2__div-1 {
    grid-area: div-1;
    height: 81.86vw;
  }
  .section-2__div-2 {
    grid-area: div-2;
    height: 81.86vw;
  }
  .section-2__div-3 {
    grid-area: div-3;
    height: 81.86vw;
  }
  .section-2__div {
    padding: 0rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .section-2__box {
    grid-area: box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #2d2640;
    height: 92.26vw;
    margin: 7rem 1.75rem 2rem 1.75rem;
    background-image: url(images/bg-pattern-how-we-work-mobile.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
  }
  .section-2__moldura {
    border-top: 3px solid #C2C1C6;
    width: 40vw;
    margin-top: 6rem;
  }
  .section-2__icones {
    height: 5.5rem;
    width: 5.5rem;
    align-self: center;
  }
  .section-2__subtitulo--h2 {
    padding-bottom: 3rem;
  }
  .footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 65.6vw 53.33vw 53.33vw 53.33vw 53.33vw;
    background-image: url(images/bg-pattern-footer-mobile.svg);
    background-position: top center;
    background-repeat: no-repeat;
    grid-template-areas: "social" "div-1" "div-2" "div-3" "div-4";
  }
  .footer__social {
    grid-area: social;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #C2C1C6;
    margin-bottom: 3rem;
    width: 100vw;
  }
  .footer__social-media {
    width: 45vw;
    margin: 0;
    padding: 0;
  }
  .footer__logo {
    width: clamp(7rem, 7.7vw, 15.4vw);
  }
  .footer__div-1 {
    grid-area: div-1;
  }
  .footer__div-2 {
    grid-area: div-2;
  }
  .footer__div-3 {
    grid-area: div-3;
  }
  .footer__div-4 {
    grid-area: div-4;
  }
  .footer__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer__subtitle--h4 {
    padding: 1.5rem 0;
  }
  .footer__span:last-child {
    margin-bottom: 5rem;
  }
}/*# sourceMappingURL=styles.css.map */